<nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-4 pt-4 pl-5 pr-5">
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard-index' %}">Library</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="{% url 'dashboard-index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'book-add' %}">Add</a>
                        </li>
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'book-view' %}">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Reserved Books</a>
                        </li>

                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'user-profile' %}">{{ user.username }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'user-logout' %}">Logout</a>
                    </li>
                </ul>
    {% else %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'user-register' %}">Register<span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
            </li>
        </ul>
    {% endif %}
            </div>
        </div>
</nav>