{% extends 'partials/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ heading }}
{% endblock %}

{% block content %}
<div class="d-flex">
    <div class="border-end bg-dark" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom border-top bg-dark p-4 text-white">Filter Books</div>
        <div class="list-group list-group-flush">
            <form action="" method="post">
                {% csrf_token %}
                {% for book in books %}
                    <input type="submit"
                           class="list-group-item list-group-item-action py-3 px-4 bg-dark text-white-50 text-muted"
                           value="{{ book.category }}"
                           name="{{ book.category }}">
                {% endfor %}
            </form>
        </div>
    </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for book in books %}
                <div class="col mb-5" style="min-width: 265px">
                    <div class="card h-100">
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Sale
                        </div>
                        <img class="card-img-top " src="{{ book.image.url }}" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ book.bookName }}</h5>
                                {{ book.author }}
                                <br>
                                {{ book.publishedDate }}
                                <br>
                                {{ book.category }}
                                <br>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form action="{% url 'book-borrow' book.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-outline-dark mt-auto" value="Reserve">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}