{% extends 'partials/base.html' %}
{% block title %}

{% endblock %}

{% block content %}

    <div class="container-fluid mt-5">
        <div class="card bg-light mb-3">
          <div class="card-header text-lg-center h1">All Books</div>
          <div class="card-body">
              <table class="table table-hover text-center">
                  <thead>
                    <tr class="table-info">
                        <th>Book ID</th>
                        <th>Book Name</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Published Date</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for book in books %}
                        <tr class="table-secondary">
                            <td>{{ book.bookID }}</td>
                            <td>{{ book.bookName }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.category }}</td>
                            <td>{{ book.publishedDate }}</td>
                            <td>{{ book.quantity }}</td>
                            <td>
                                <a href="" class="btn btn-info">View</a>
                                <a href="" class="btn btn-success">Update</a>
                                <a href="" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
    </div>

{% endblock %}