{% load static %}
<header class="bg-dark py-5 ">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center pt-5 pb-5 pr-5">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-xl-start justify-content-center text-center">
                    <h1 class="display-5 fw-bolder text-white mb-2">Welcome to the Online Library</h1>
                    <p class="lead fw-normal text-white-50 mb-4">
                        This is an online Library developed for customers to reserve books online
                    </p>
                    <div class="justify-content-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">
                        "Sometimes, you read a book and it fills you with this weird evangelical zeal,
                        and you become convinced that the shattered world will never be put back together unless
                        and until all living humans read the book."
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="fw-bold">
                            John Green
                            <span class="fw-bold text-primary mx-1">/</span>
                            The Fault in Our Stars
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog preview section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">From our Library</h2>
                    <p class="lead fw-normal text-muted mb-5">
                        We look forward to receiving your book requests.
                        And you can reserve books online.
                    </p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static '/img/b1.jpg' %}" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Join</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3">Join the Library</h5>
                        </a>
                        <p class="card-text mb-0">
                            Join our libraries and enjoy access to top quality online resources including journals,
                            books, movies, music and magazines. We have more than 65,000 resources in our libraries.
                        </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static '/img/b3.jpg' %}" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Find</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3">Locations</h5>
                        </a>
                        <p class="card-text mb-0">
                            Find out about the contact details, opening hours and holidays
                            of our libraries situated in Colombo, Kandy and Jaffna.
                        </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static '/img/b2.jpg' %}" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3">Collections</h5>
                        </a>
                        <p class="card-text mb-0">
                            Explore our collection to discover the various ways you can read,
                            borrow and learn with our library.
                        </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg-dark" style="color: white">
  <footer class="pt-5 mx-5 ">
    <div class="row">
      <div class="col-2">
        <h5 class="pb-2 text-white">Contact Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Telephone</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Address</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Opening Hours</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">More</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5 class="pb-2 text-white">Discover</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Books</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Authors</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Collections</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Subjects</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5 class="pb-2 text-white">Our Library</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Vision</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Volunteer</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Donate</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Terms of Service</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5 class="pb-2 text-white">Subscribe to our newsletter</h5>
          <p>Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between pt-4 my-3 border-top">
      <p>&copy; 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>
</div>