{% extends 'partials/base.html' %}

{% load crispy_forms_tags %}

{% block title %}

    Profile Page

{% endblock %}

{% block content %}
   <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-light p-3">
                <div class="h4 text-center "> Update Profile</div>
                <hr class="bg-black">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}

                    <input type="submit" class="btn btn-info" value="Update">
                </form>
            </div>
        </div>
    </div>
{% endblock %}